<header class="page__header">
  <header class="header js__header">
    <img src="../images/Logotipo lujoso vintage dorado azul.png" alt="">
    <div class="h__menu">
      <div class="h__aviable__c js__h__aviable__c">
        <span class="h__aviable js__h__aviable">
          Disponibilidad
        </span>
      </div>
      <div class="h__colection__c js__h__colection__c">
        <span class="h__colection js__h__colection">
          Colección
        </span>
      </div>
      <div class="h__orders__c js__h__orders__c">
        <span class="h__orders js__h__orders">
          Pedidos
        </span>
      </div>
      <div class="h__help__c js__h__help__c">
        <span class="h__help js__h__help">
          Ayuda
        </span>
      </div>
    </div>
  </header>
</header>
